.projects{
    min-height: 100vh;
}

.projects-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects-description {
    width: 100%;
    flex: 0.65;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.projects-description > h1 {
    font-size: 3.5rem;
    font-family: var(--primaryFont);
    margin-bottom: 2rem;
}

.projects-card {
    border: 2px solid rgb(233, 58, 56);
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    width: 90%;
    height: 140px;
    padding: 1.5rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    transition: 300ms ease-in-out;
}

.projects-card:hover  {
    transform: scale(1.04);
}



.expcard-img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 1rem;
}

.expcard-img > img {
    width: 36px;
    pointer-events: none;
}



.projects-image {
    box-sizing: border-box;
    padding: 1rem;
    flex: 0.35;
    margin-left: 7%;
    margin-top: auto;
    margin-bottom: auto;
    pointer-events: none;
}

.projects-image > img {
    width: 100%;
    pointer-events: none;
}



@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .projects {
        min-height: 100%;
    }
    .projects-image {
        display: none;
    }
    .projects-description {
        flex: 1;
        margin: auto;
    }    
    .projects-description > h1{
        font-size: 3.2rem;
    }
    .projects-card {
        width: 100%;
        margin: 2rem;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .projects-description > h1{
        font-size: 3rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    .projects-description {
        padding: 3rem;
    }
    .projects-card {
        padding: 1rem;
        margin-bottom: 1.5rem;
        height: 130px;
    }
    .expcard-img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    
    .expcard-img > img {
        width: 30px;
    }
    
}

@media screen and (max-width: 600px) {
    .projects-description > h1{
        font-size: 2.5rem;
    }

    .projects-description {
        padding: 3rem;
    }
    .card-details > h5{
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .projects-description {
        padding: 3rem;
    }

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}